bin
.DS_Store

.env.prod
.env.stage
.env.dev
.env.dev.secrets
.env.stage.secrets
.env.prod.secrets
.env.*.secrets
.env.*.local

*.log

node_modules

Chart.lock
**/*.tgz

go.work.sum

.data

.turbo
frontend/out


# contentlayer
.contentlayer

lefthook-local.yml

env/

tmp
venv/
venv2/
python/dist/
__pycache__/

vydon_ee_ca.key
vydon_cloud_ca.key

.env.app.local
.env.api.local
.env.worker.local

*.db
